@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
@font-face {
	font-family: "Ionicons";
	src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
	src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix")
			format("embedded-opentype"),
		url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"),
		url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"),
		url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
	font-weight: normal;
	font-style: normal;
}

$hoofdcolor: #111111;
$secondcolor: #e9db2e;
$grey: #4a4a4a;
$darkgrey: #383838;
$lightgrey: #a5a5a5;
$lightergrey: #f0f0f0;
$border: #e7e7e7;

$topbar: #f0f0f0;
$topbarheight: 44px;
$topbarlinks: #333;

$hoofdmenu: $hoofdcolor;
$hoofdmenulinks: #fff;
$hoofdmenuheight: 102px;

$carouselheight: 64vh;

$worksans: "Work Sans", sans-serif;
$roboto: "Roboto Slab", serif;

$h1Height: 2em;
$h2: 1.4em;
$h3: 1.2em;
$h2Height: 0.8em;

$priceslider: #d6d6d6;

%transition {
	transition-duration: 0.2s;
}

.woocommerce-input-wrapper {
	box-sizing: border-box;
	width: 100%;
}

%normalbutton {
	display: -webkit-inline-box !important;
	color: $darkgrey;
	padding: 16px 32px;
	background: $secondcolor;
	border-radius: 0px;
	border: 0px;
	margin-left: -1px;
}

%normalbuttonhover {
	display: -webkit-inline-box !important;
	color: $darkgrey;
	padding: 16px 32px;
	background: darken($secondcolor, 5%);
	border-radius: 0px;
	border: 0px;
	margin-left: -1px;
}

%button {
	margin-top: 20px;
	display: -webkit-inline-box;
	color: $darkgrey;
	padding: 16px 32px;
	background: $secondcolor;
}

%buttonhover {
	margin-top: 20px;
	display: -webkit-inline-box;
	color: $darkgrey;
	padding: 16px 32px;
	background: darken($secondcolor, 5%);
}

%fadeIn {
	animation: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

%hideuser {
	animation: hideuser;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}

%subIn {
	animation: subIn;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

%rotateIn {
	animation: rotateIn;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}

%rotateInSecond {
	animation: rotateInSecond;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

%inputaantal {
	width: 100%;
	padding: 13px;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	border-left: 1px solid $border;
	border-right: 0;
}

%input {
	width: 100%;
	padding: 13px;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	border-left: 1px solid $border;
	border-right: 1px solid $border;
}

html {
	box-sizing: border-box;
}

body {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $hoofdcolor;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	&:hover {
		color: $grey;
		text-decoration: none;
	}
}

h1 {
	font-family: $roboto;
	font-size: 26px;
	color: $hoofdcolor;
	letter-spacing: 0.2s;
	font-weight: bold;
	text-transform: uppercase;
	font-style: italic;
	span {
		color: $secondcolor;
	}
}

h2 {
	font-family: $roboto;
	font-size: $h2;
}

h3 {
	font-family: $roboto;
	font-size: $h3;
}

.maten-tabel-button:before {
	content: "\f264";
	font-family: "Ionicons";
}

.maten-tabel-button {
	padding: 0px 0px 30px 0px;
	display: block;
	cursor: pointer;
}

.maten-tabel-button:hover {
	color: $secondcolor;
}

.maten-tabel {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0px;
	left: 0;
	z-index: 99999;
	display: flex;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	overflow: scroll;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	.align-center {
		position: relative;
		background: white;
		margin: 0 auto;
		padding: 30px;
	}
	.close-tabel {
		position: absolute;
		top: 10px;
		right: 0;
		cursor: pointer;
		padding: 20px;
		z-index: 99;
		div {
			width: 20px;
			min-height: 2px;
			background: black;
			margin: -2px;
			&:first-child {
				transform: rotate(-45deg);
			}
			&:last-child {
				transform: rotate(45deg);
			}
		}
	}
	.tabel-row {
		border-bottom: 1px solid $border;
		padding: 4px;
	}
}

.toon-maten-tabel {
	visibility: visible;
	pointer-events: all;
	opacity: 1;
}

.top_bar {
	background: $topbar;
	.container {
		.row {
			height: $topbarheight;
			display: flex;
			align-items: center;
			font-size: 14px;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				margin: 0px -14px;
				li {
					float: left;
					line-height: 1;
					padding: 0px 10px;
					a {
						color: $topbarlinks;
						&:hover {
							color: black;
						}
					}
				}
			}
			.user_menu {
				ul {
					display: flex;
					align-items: center;
					float: right;
					position: relative;
					padding-right: 15px;
					li {
						float: left;
					}
				}
			}
		}
	}
}
.hoofd_menu {
	color: $hoofdmenulinks;
	background: $hoofdmenu;
	position: absolute;
	width: 100%;
	max-height: 102px;
	position: 9999;
	.container {
		.row {
			height: $hoofdmenuheight;
			display: flex;
			align-items: center;
			font-size: 14px;
			.branding {
				img {
					max-width: 140px;
				}
			}
			.winkelmand {
				a {
					color: #fff;
				}
				.cart {
					position: relative;
					width: 27px;
					height: 36px;
					float: right;
					display: flex;
					align-items: center;
					text-align: center;
					background-size: cover;
					background: url("../img/cart.svg") no-repeat;
					background-position: right;
					.count {
						width: 28px;
						text-align: center;
						padding-top: 12px;
						font-size: 12px;
					}
				}
			}
		}
	}
}

.ma-nav .menu {
	text-align: center;
	padding: 0px;
	margin: 0px -15px;
	list-style: none;
	display: flex;
	li {
		padding: 12px 8px;
		float: left;
		line-height: 1;
		position: relative;
		list-style: none;
		.sub-menu {
			opacity: 0;
			background: $lightergrey;
			left: 0px;
			top: 38px;
			position: absolute;
			visibility: hidden;
			padding-top: 20px;
			margin-left: -6px;
			padding-top: 20px;
			width: 100%;
			z-index: 9999;
			padding: 0px;
			display: inline-table;
			&:after {
				content: "";
				width: 100%;
				min-height: 5px;
				background: $lightergrey;
				bottom: -5px;
				position: absolute;
				left: 0;
			}
			li {
				&:first-child:before {
					content: "";
					width: 10px;
					height: 10px;
					transform: rotate(45deg);
					background: #f0f0f0;
					position: absolute;
					top: -5px;
					left: 14px;
					z-index: -1;
				}
				width: 100%;
				padding: 0;
				a {
					color: $darkgrey;
					text-align: left;
					display: block;
					background: $lightergrey;
					padding: 10px 15px;
					@extend %transition;
					.fa {
						padding-right: 8px;
					}
					&:hover {
						color: $secondcolor;
						text-decoration: none;
						background: $lightgrey;
						@extend %transition;
					}
				}
			}
		}
		a {
			color: $hoofdmenulinks;
			@extend %transition;
			&:hover {
				color: $lightgrey;
				@extend %transition;
			}
		}
	}
}
.menu-categorieen-container {
	display: flex;
	justify-content: center;
}

.desk-nav .menu-item-has-children:hover > ul.sub-menu {
	opacity: 1 !important;
	visibility: visible !important;
	pointer-events: all;
	transition: all 0.2s ease-in-out;
	a {
		&:hover {
			color: $hoofdmenulinks !important;
		}
	}
}

.menu-item-has-children:after {
	width: 12px;
	height: 12px;
	background-size: contain;
	background: url(../img/angle.svg) no-repeat;
}

.carousel {
	z-index: 0;
	position: relative;
	&:after {
		content: "";
		width: 100%;
		height: 58px;
		bottom: -1px;
		left: 0px;
		position: absolute;
		z-index: 9999;
		background: url(../img/grunge.svg);
		background-repeat: no-repeat;
		background-position: bottom;
	}
	.carousel-inner {
		.carousel-item {
			min-height: $carouselheight;
			background-repeat: no-repeat !important;
			background-size: cover !important;
			.container {
				@extend %fadeIn;
				.row {
					min-height: $carouselheight;
					display: flex;
					align-items: center;
					h1 {
						font-weight: bold;
						font-style: italic;
						font-size: 54px;
						color: #ffffff;
						letter-spacing: 0.6px;
						font-family: $roboto;
					}
					p {
						font-style: italic;
						font-size: 24px;
						color: #ffffff;
						letter-spacing: 0.6px;
					}
					.button {
						margin-top: 20px;
						display: -webkit-inline-box;
						color: $darkgrey;
						padding: 16px 32px;
						background: $secondcolor;
					}
				}
			}
		}
	}
}

.carousel-control-next,
.carousel-control-prev {
	width: 5%;
}

.intro_titel {
	h1 {
		font-family: $roboto;
		text-align: center;
		font-size: 2em;
		font-weight: bold;
		text-transform: uppercase;
		font-style: italic;
		padding: 54px 0px 0px 0px;
	}
	span {
		color: $secondcolor;
	}
}

.uitgelicht_homepagina {
	ul {
		margin: 0px -15px;
		padding: 0px;
		list-style: none;
		li {
			float: left;
			width: 25%;
			padding: 15px;
			box-sizing: border-box;
			text-align: center;
			border: 1px solid rgba(0, 0, 0, 0);
			box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
			transition-duration: 0.3s;
			margin-top: -1px;
			.product_image {
				width: 100%;
				min-height: 200px;
				margin-bottom: 14px;
				background-size: contain !important;
				background-repeat: no-repeat !important;
				background-position: center center !important;
			}
			.title {
				width: 100%;
				display: block;
				font-family: $roboto;
				color: $hoofdcolor;
				font-weight: bold;
			}
			.price {
				clear: both;
				color: $grey;
			}
			img {
				max-width: 100%;
			}
		}
	}
}

.aanbiedingen {
	h1 {
		font-weight: 900;
		font-family: $roboto;
		font-size: 26px;
		color: $hoofdcolor;
		text-transform: uppercase;
		font-style: italic;
		letter-spacing: 0.46px;
	}
	ul {
		margin: 0px -15px;
		padding: 0px;
		list-style: none;
		li {
			float: left;
			width: 33.3333%;
			padding: 15px;
			box-sizing: border-box;
			.product_image {
				width: 100%;
				min-height: 200px;
				margin-bottom: 14px;
				background-size: 70% auto !important;
				background-repeat: no-repeat !important;
				background-position: center center !important;
			}
			.title {
				width: 100%;
				display: block;
				font-family: $roboto;
				color: $hoofdcolor;
				font-weight: bold;
				font-size: 16px;
			}
			.price {
				clear: both;
				color: #4a4a4a;
				font-size: 16px;
				padding: 2px 0px;
				display: -webkit-box;
			}
			img {
				max-width: 100%;
			}
			a {
				color: $hoofdcolor;
			}
		}
	}
}

.the_agenda {
	h2:nth-child(n + 2) {
		margin-top: 30px;
	}
}

.e {
	background: rgb(219, 219, 219);
}
.m-row {
	display: flex;
	padding: 10px 0px;
}
.m-container {
	margin-bottom: 38px;
}

.glightbox-tgl {
	&:hover {
		font-weight: bold;
		cursor: pointer;
	}
}
.glightbox {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999999;
	opacity: 0;
	pointer-events: none;
	transition: 0.2s ease-in-out;
	justify-content: center;
	align-items: center;
	display: flex;
	.close-tgl {
		width: 30px;
		height: 30px;
		margin-left: auto;
		position: relative;
		cursor: pointer;
		div {
			width: 100%;
			min-height: 3px;
			background: white;
			position: absolute;
			&:nth-child(1) {
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				transform: rotate(-45deg);
			}
		}
	}
}

.is-shown {
	opacity: 1;
	pointer-events: all;
}

.about {
	color: #fff;
	background: $hoofdcolor;
	margin: 54px 0px;
	position: relative;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		top: -1px;
		left: 0px;
		right: 0px;
		position: absolute;
		z-index: 9999;
		background-size: cover;
		z-index: 1;
		background: url(../img/angle.svg) no-repeat;
	}
	&:after {
		content: "";
		width: 100%;
		height: 58px;
		bottom: -1px;
		left: 0px;
		position: absolute;
		z-index: 5;
		background: url(../img/grunge.svg);
		background-repeat: no-repeat;
		background-position: bottom;
	}
	.container {
		.row {
			padding: 60px 0vh;
		}
	}
	.image {
		top: -32px;
		bottom: -32px;
		width: 40%;
		right: 0px;
		height: 112%;
		position: absolute;
		z-index: 444;
		margin-top: 20px;
		background-size: cover !important;
		&:before {
			content: "";
			width: 100%;
			height: 58px;
			top: -1px;
			left: 0px;
			position: absolute;
			z-index: 5;
			background: url(../img/grunge_upside.svg) no-repeat;
		}
	}
	h1 {
		font-family: $roboto;
		font-size: 28px;
		color: #e9db2e;
		letter-spacing: 0.2s;
		font-weight: bold;
	}
	p {
		padding-bottom: 24px;
	}
	.white-btn {
		font-style: italic;
		font-size: 14px;
		color: $hoofdcolor;
		background: white;
		border-radius: 32px;
		padding: 12px 24px;
		position: relative;
		z-index: 555;
	}
}

.categorien {
	ul {
		list-style: none;
		padding: 0 0 34px 0px;
		margin: 0;
		li {
			position: relative;
			a {
				color: $hoofdcolor;
				display: inline-block;
				width: 100%;
				&:hover {
					font-weight: bold;
					text-decoration: none;
				}
				&:after {
					content: "";
					height: 9px;
					min-width: 6px;
					position: absolute;
					background: url(../img/angle_dark.svg);
					z-index: 999;
					right: 20px;
					top: 8px;
					background-repeat: no-repeat;
					transition-duration: 0.3s;
					background-size: cover;
				}
				&:hover:after {
					right: 15px !important;
				}
			}
		}
	}
}

.footer {
	margin-top: 30px;
	color: #e1e1e1;
	background: #131313;
	.col-md-3 {
		padding: 45px 0px;
	}
	a {
		color: #e1e1e1;
	}
	h5 {
		padding-top: 6px;
		font-weight: bold;
	}
	h2 {
		font-style: normal;
		text-transform: none;
		font-weight: bold;
		font-size: 16px;
		color: #e9db2e;
	}
	.question {
		list-style: none;
		margin: 0;
	}
	.question li {
		padding-left: 32px;
		position: relative;
	}
	.wht-app:before {
		content: "";
		height: 18px;
		min-width: 18px;
		position: absolute;
		background: url(../img/whatsapp.svg);
		z-index: 999;
		left: 0px;
		top: 2px;
		background-repeat: no-repeat;
	}
	.fb-ms:before {
		content: "";
		height: 20px;
		min-width: 19px;
		position: absolute;
		background: url(../img/messenger.svg);
		z-index: 999;
		left: 0px;
		top: 2px;
		background-repeat: no-repeat;
	}
	li {
		list-style: none;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 15px 0px;
		li {
			position: relative;
			list-style: none;
			&:after {
				content: "";
				height: 18px;
				min-width: 18px;
				position: absolute;
				background: url(../img/arr.svg);
				z-index: 999;
				right: 20px;
				top: 8px;
				background-repeat: no-repeat;
				transition-duration: 0.3s;
			}
			a {
				&:hover {
					font-weight: bold;
					text-decoration: none !important;
				}
			}
			&:hover:after {
				right: 15px;
				transition-duration: 0.3s;
			}
		}
	}
	.branding {
		max-width: 120px;
		display: block;
		padding-bottom: 15px;
	}
	h2 {
		font-family: $roboto;
	}
}

.socket {
	background: #0a0a0a;
	color: #ffffff;
	padding: 14px 0px;
	.menu {
		display: flex;
		list-style: none;
		margin: 0px -8px;
		padding: 0px;
		a {
			color: #ffffff;
			margin: 0px 8px;
			&:hover {
				font-weight: bold;
			}
		}
	}
}

.woocommerce-account .woocommerce-MyAccount-navigation {
	width: 100% !important;
	padding-bottom: 24px;
}

.woocommerce-account .woocommerce-MyAccount-content {
	float: left !important;
	width: 100% !important;
}

.the_content {
	padding: 6vh 15px;
}

.nice-select .list {
	right: 0;
	left: inherit;
}

.nice-select.open {
	.list {
		max-height: 200px;
		overflow: scroll;
	}
}

.sidebar {
	position: relative;
	.inner_sidebar {
		position: sticky;
		top: 115px;
	}
	label {
		font-family: $roboto;
		font-size: 1.4rem;
		width: 100%;
		float: none;
	}
	.tribe-bar-date-filter {
		margin-bottom: 42px;
	}
	.widget {
		border-top: 1px solid #e7e7e7;
		.widget-content {
			display: none;
			padding-bottom: 10px;
		}
		h2 {
			font-family: $roboto;
			font-size: 1.2rem;
			padding: 10px 0px;
			margin: 0;
			color: #464646;
			position: relative;
			&:hover {
				cursor: pointer;
			}
			&:after {
				content: "";
				position: absolute;
				right: 0;
				top: 15px;
				height: 12px;
				width: 8px;
				opacity: 0.7;
				transform: rotate(90deg);
				background: url(../img/angle_dark.svg);
				background-repeat: no-repeat;
				background-size: cover;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0px;
		}
		.count {
			display: none;
		}
		span {
			color: $secondcolor;
		}
		a {
			color: $grey;
			display: block;
		}
		p {
			font-size: 16px;
		}
	}
	.price_label {
		float: right;
		padding: 26px 0px 0px 0px;
		margin: 0px;
	}
}

.widget-show {
	&:after {
		transform: rotate(-90deg) !important;
	}
}

.woocommerce {
	ul.products {
		li {
			h2 {
				color: $hoofdcolor;
			}
			.incl_price {
				font-size: 14px;
				color: $secondcolor;
			}
			.exl_btw,
			.exl_btw span {
				font-size: 14px;
				color: $lightgrey !important;
			}
			a {
				color: $darkgrey;
				&:hover {
					color: $secondcolor;
				}
			}
			.amount {
				color: $grey;
			}
		}
	}
}

.categorie_omslag {
	width: 100%;
	min-height: 40vh;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	position: relative;
	&:after {
		content: "";
		width: 100%;
		height: 58px;
		bottom: -1px;
		left: 0;
		position: absolute;
		z-index: 9999;
		background: url(../img/grunge.svg);
		background-repeat: no-repeat;
		background-position: bottom;
	}
}

.wc-layered-nav-term {
	position: relative;
	&:after {
		content: "";
		width: 9px;
		min-height: 1px;
		background: $grey;
		position: absolute;
		right: 0;
		top: 11px;
		transform: rotate(0deg);
	}
	&:before {
		content: "";
		width: 1px;
		min-height: 9px;
		background: $grey;
		position: absolute;
		right: 4px;
		top: 7px;
		transform: rotate(0deg);
	}
}

.chosen {
	color: black;
	position: relative;
	a {
		font-weight: 500;
		color: $darkgrey !important;
	}
	&:after {
		content: "";
		width: 9px;
		min-height: 1px;
		background: black;
		position: absolute;
		right: 0;
		top: 11px;
		@extend %rotateIn;
	}
	&:before {
		content: "";
		width: 1px;
		min-height: 9px;
		background: black;
		position: absolute;
		right: 4px;
		top: 7px;
		@extend %rotateInSecond;
	}
}

.wc-layered-nav-term chosen {
	&:before {
		transform: rotate(4deg) !important;
	}
}

.woocommerce div.product form.cart div.quantity,
.woocommerce .quantity .qty {
	width: 100%;
}
.woocommerce .quantity .qty {
	width: 80%;
}

.woocommerce div.product form.cart .button {
	margin-top: 15px;
	justify-content: center;
	display: flex !important;
}

.sidebar {
	h2 {
		font-family: $roboto;
		font-size: 1.4rem;
	}
	.woocommerce-MyAccount-navigation {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				a {
					display: block;
					width: 100%;
					position: relative;
					color: $grey;
					&:after {
						content: "";
						height: 14px;
						min-width: 6px;
						position: absolute;
						background: url(../img/angle_dark.svg);
						z-index: 999;
						right: 20px;
						top: 8px;
						background-repeat: no-repeat;
						transition-duration: 0.3s;
					}
					&:hover:after {
						right: 15px;
						transition-duration: 0.3s;
					}
				}
			}
		}
	}
	.button {
		margin-top: 20px;
		display: -webkit-inline-box !important;
		color: $darkgrey;
		padding: 16px 32px;
		background: $secondcolor;
	}
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background: $secondcolor;
	color: $darkgrey;
	border-radius: 0;
	font-weight: inherit;
	padding: 16px 32px;

	&:hover {
		background: $darkgrey;
		color: #fff;
	}
}

.woocommerce ul#shipping_method li input {
	margin: 3px 0.4375em 0 0;
	margin-top: 6px;
	float: left;
	width: 14px;
}

#add_payment_method #payment ul.payment_methods li input,
.woocommerce-cart #payment ul.payment_methods li input,
.woocommerce-checkout #payment ul.payment_methods li input {
	margin: 0 1em 0 0;
	width: 14px;
	float: left;
	margin-top: 10px;
}

.wc_payment_method label {
	width: auto;
}

#tribe-bar-date,
#tribe-bar-search,
.woocommerce input {
	width: 100%;
	padding: 13px;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	width: 14px;
}

#order_review_heading {
	margin-top: 34px;
}

.storefront-full-width-content.woocommerce-cart .entry-header,
.storefront-full-width-content.woocommerce-checkout .entry-header,
.storefront-full-width-content.woocommerce-account .entry-header,
.storefront-full-width-content .woocommerce-products-header {
	padding-bottom: 0px;
}

.single-product {
	.price {
		font-weight: bold;
		font-size: 2rem;
		a {
			color: $darkgrey;
		}
	}
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	font-weight: bold;
	font-size: 2rem;
	color: $darkgrey;
}
.posted_in {
	a {
		color: $darkgrey;
	}
}

small {
	.woocommerce-Price-amount {
		color: $lightgrey !important;
		&:after {
			content: " excl. BTW";
			color: $lightgrey;
		}
	}
}

.select2-container--default .select2-selection--single .select2-selection__clear {
	margin-top: -2px;
}

.product_cat_image {
	height: 244px;
	display: inline-block;
	width: 100%;
	display: flex;
	align-items: center;
	img {
		max-height: 100%;
		max-width: 96%;
		margin: 0 auto;
	}
}

.woocommerce-page.columns-3 ul.products li.product,
.woocommerce.columns-3 ul.products li.product {
	border: 1px solid rgba(0, 0, 0, 0);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
	transition-duration: 0.3s;
	margin-top: -1px;
}

.orderby {
	display: flex;
	align-items: center;
	border-bottom: 1px solid $border;
	.woocommerce-ordering {
		margin-left: auto;
	}
}

.summary {
	.amount_incl {
		font-size: 32px;
		width: 100%;
		display: block;
		line-height: 2px;
		margin-top: 10px;
		padding-bottom: 20px;
		font-weight: bold;
		font-weight: 500;
		color: $hoofdcolor;
		padding-right: 10px;
	}
	.amount_excl {
		font-size: 12px;
		color: $lightgrey;
		padding-bottom: 20px;
		display: block;
	}
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	margin-bottom: 1em;
}

.woocommerce ul.products li.product:hover,
.woocommerce-page ul.products li.product:hover {
	border: 1px solid rgba(204, 204, 204, 1);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
	transition-duration: 0.3s;
	margin-top: -1px;
	img {
		margin-right: 0px;
		margin-left: 0px;
	}
}

.woocommerce .products ul,
.woocommerce ul.products {
	margin-top: 1em;
	display: inline-block;
	width: 100%;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
	background-color: #000000;
}

.woocommerce .quantity .qty,
.woocommerce div.product form.cart div.quantity {
	width: 60%;
	margin: 0px;
}

.woocommerce .quantity .qty,
.woocommerce div.product form.cart div.quantity input {
	@extend %inputaantal;
}

.woocommerce div.product form.cart .button {
	margin: 0;
	padding: 18px 0px;
	width: 40%;
	text-align: center;
}
.price_slider_wrapper {
	margin-top: 30px;
	.price_slider {
		width: calc(100% - 12px);
		min-height: 4px;
		background: $priceslider;
		position: relative;
		.ui-slider-range {
			background: black;
			height: 4px;
			position: absolute;
			margin-left: 1px;
		}
		.ui-slider-handle {
			cursor: pointer;
			min-height: 12px;
			width: 12px !important;
			border-radius: 12px;
			background: $secondcolor;
			position: absolute;
			left: 0;
			top: -4px;
		}
	}
	.price_slider_amount {
		.button {
			padding: 8px 16px !important;
			float: left;
			margin: 20px 0px;
		}
	}
}

.woocommerce {
	ul.products {
		li.product {
			padding: 15px;
			a {
				img {
					width: auto;
					margin: 0 auto !important;
					margin-top: 20px;
				}
			}
		}
	}
}

.woocommerce span.onsale {
	/* min-height: 3.236em; */
	/* min-width: 3.236em; */
	padding: 0px 10px;
	font-size: 1em;
	font-weight: 700;
	position: absolute;
	text-align: center;
	line-height: 3.236;
	top: -0.5em;
	left: -0.5em;
	margin: 0;
	border-radius: 0px;
	background-color: #ece034;
	color: #2b2b2b;
	font-size: 9px;
	z-index: 9;
	width: 90px;
	right: 5px !important;
	height: 30px;
	top: 4px !important;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	background: none;
	color: black;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
	width: 2em;
	text-align: center;
	border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
	border: none;
}

.woocommerce nav.woocommerce-pagination ul {
	border: none;
}

.page-numbers {
	color: $lightgrey;
}

ul.page-numbers:before {
	content: "Pagina";
}

.select2-results__option[aria-selected]:hover,
.select2-results__option[data-selected]:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
	background: $secondcolor !important;
	color: black !important;
}

.uitgelichte_producten_homepagina li a:hover {
	text-decoration: none;
}

.uitgelichte_producten_homepagina li:hover {
	border: 1px solid #cccccc;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
	transition-duration: 0.2s;
	margin-top: -1px;
}

.woocommerce_container {
	width: 80%;
}

.woocommerce table.shop_table {
	border: 0px;
}

.woocommerce table.shop_table td {
	border-top: 1px dashed $lightgrey;
}

.woocommerce #content table.cart img,
.woocommerce table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img {
	height: 60%;
	width: auto;
}

.product-remove {
	vertical-align: top !important;
}

.woocommerce a.remove {
	color: $lightgrey !important;
}

.woocommerce .quantity .qty,
.woocommerce div.product form.cart div.quantity input {
	border: 1px solid $lightgrey;
}

.coupon {
	width: 50%;
	input {
		width: 312px !important;
		float: left;
		height: 48px;
		border-right: 0px;
		border-left: 1px solid $lightgrey;
		border-top: 1px solid $lightgrey;
		border-bottom: 1px solid $lightgrey;
		padding-left: 15px;
	}
	input[type="submit"] {
		width: 50% !important;
		float: left;
		display: -webkit-inline-box !important;
		color: $darkgrey;
		padding: 16px 32px;
		background: $secondcolor;
		border-radius: 0px;
		border: 0px;
		margin-left: -1px;
	}
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	@extend %normalbutton;
}

.woocommerce #respond input#submit,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	@extend %normalbuttonhover;
}

.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
	padding: 30px 0px 30px 0px;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
	display: -webkit-inline-box !important;
	background: $lightergrey;
	color: $darkgrey;
	padding: 16px 32px;
	border-radius: 0px;
	border: 0px;
	margin-left: -1px;
}

.order-total small .woocommerce-Price-amount:after {
	content: "" !important;
}

.tribe-events-list .type-tribe_events.tribe-events-first {
	padding: 30px 0px;
}

.tribe-events-list {
	span {
		font-size: 16px;
	}
	.tribe-events-venue-details {
		font-size: 16px;
	}
}

.type-tribe_events {
	padding: 30px 0px;
	border-top: 1px dashed $lightgrey;
}

.tribe-events-read-more {
	@extend %normalbutton;
}
.tribe-events-read-more:hover {
	@extend %normalbuttonhover;
}

.tribe-events-button {
	@extend %button;
}

.tribe-events-list-separator-month {
	width: 100%;
	background: $lightergrey;
	padding: 10px 15px;
	display: block;
	box-sizing: border-box;
	font-weight: bold;
}

#tribe-bar-date,
#tribe-bar-search {
	@extend %input;
}

.tribe-events-ical {
	float: right;
	background: $lightgrey;
	color: white;
}

.tribe-events-ical:hover {
	float: right;
	background: $secondcolor;
	color: $grey;
	text-decoration: none;
}

.tribe-events-list-event-title {
	float: left;
}

.tribe-event-schedule-details {
	float: right;
	padding: 15px 0px;
}

.tribe-events-gmap {
	display: block;
	float: right;
	&:hover {
		text-decoration: none;
		color: $grey;
	}
}

#tribe-events-footer {
	float: left;
}

.tribe-events-sub-nav {
	margin: 0;
	padding: 0 0;
	a {
		padding: 20px 0px;
		display: block;
		&:hover {
			color: $grey;
			text-decoration: none;
		}
	}
}

.tribe-events-list-event-title {
	a {
		font-family: $roboto;
		font-size: $h2Height;
		&:hover {
			color: $grey;
			text-decoration: none;
		}
	}
}

.tribe-address {
	color: $grey;
}

.ticket-cost {
	color: #a5a5a5;
	padding-top: 12px;
	display: block;
	float: left;
}

.woocommerce input {
	@extend %input;
}

.woocommerce-MyAccount-content {
	fieldset {
		margin-top: 30px;
	}
}

.adress_container {
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
}

.woocommerce form .form-row {
	margin: 0 0 6px -3px;
}

.aanbiedingen ul li {
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
	transition-duration: 0.3s;
	margin-top: -1px;
}

.aanbiedingen ul li:hover {
	border: 1px solid #cccccc;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
	transition-duration: 0.2s;
	margin-top: -1px;
}

.col-1 {
	max-width: inherit;
}

.col-2 {
	max-width: inherit;
}

.edit {
	color: $lightgrey;
}

.required {
	border-bottom: 0;
	font-weight: 400 !important;
	text-decoration: none !important;
	&:after {
		font-weight: 400;
		content: " Verplicht veld";
		opacity: 0;
		@extend %transition;
	}
	&:hover:after {
		opacity: 1;
		@extend %transition;
	}
}

.is_fixed {
	z-index: 99999 !important;
	top: -102;
	left: 0;
	width: 100%;
	position: fixed;
	animation: topIn;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.top {
	margin-top: 102px;
}

.space {
	min-height: 102px;
}

.show {
	display: block !important;
	@extend %fadeIn;
}

.hide_user {
	display: block !important;
	@extend %hideuser;
}

.skip {
	display: none;
}

.h_skip {
	display: none;
}

label {
	width: 100%;
}

.faq {
	background: #f1f1f1;
	padding: 8px;
	margin-bottom: 8px;
	cursor: pointer;
	transition: ease-in-out 0.2s;
	&:hover {
		background: #e2e2e2;
	}
	p {
		display: none;
		margin: 0;
		padding: 8px 0px 0px 0px;
	}
	h3 {
		margin: 0px;
		position: relative;
		width: 100%;
		svg {
			position: absolute;
			right: 0;
			top: 8px;
			width: 14px;
			height: auto;
			transition: ease-in-out 0.2s;
		}
	}
}

.faq-content {
	margin-bottom: 32px;
	width: 100%;
	h2 {
		margin-bottom: 16px;
	}
}

.is--open {
	h3 {
		svg {
			transform: rotate(180deg);
		}
	}
}

.mobile-nav {
	display: none;
}

.single-product .sidebar {
	.widget:first-child {
		border-top: none;
	}
	.widgettitle::after {
		display: none;
	}
}

@media only screen and (min-width: 1024px) {
	.container {
		max-width: 90%;
	}
}

@media only screen and (max-width: 1024px) {
	.container {
		width: 95%;
	}

	.footer ul li:after,
	.categorien ul li a:after {
		right: 0px;
	}

	.footer ul li:hover:after,
	.categorien ul li a:hover:after {
		right: 4px !important;
	}

	.coupon {
		width: 100%;
	}

	.intro_titel {
		h1 {
			font-size: 1.4em;
		}
	}

	.tribe-event-schedule-details {
		float: none;
		padding: 0px;
		width: 100%;
		display: block;
		clear: both;
	}

	.tribe-events-gmap {
		display: block;
		float: left;
	}

	.tribe-events-loop {
		clear: both;
		padding-top: 34px;
	}

	.about .image {
		display: none;
	}

	.carousel .carousel-inner {
		.carousel-item {
			.container {
				.row {
					h1 {
						font-weight: 700;
						font-style: italic;
						font-size: 2.4em;
						color: #fff;
						letter-spacing: 0.6px;
						font-family: "Roboto Slab", serif;
					}
					p {
						font-style: italic;
						font-size: 18px;
						color: #fff;
						letter-spacing: 0.6px;
					}
				}
			}
		}
	}

	.footer .col-md-3 {
		padding: 45px 15px 0px 15px;
	}

	.footer .branding {
		float: none;
	}

	.winkelmand {
		position: absolute;
		right: 8px;
		top: 0px;
	}

	.ma-nav .menu {
		display: block;
		margin-bottom: 30px;
	}

	.ma-nav .menu li .sub-menu {
		visibility: visible;
		transition: all 0.2s ease-in-out;
		background: none;
		opacity: 1;
		position: inherit;
	}

	.menu-categorieen-container {
		display: inline-block;
		width: 100%;
	}

	.hoofd_menu .container .row .categorieen ul {
		width: 100%;
		padding: 0px;
		height: auto;
		margin: 0px;
		top: inherit;
		bottom: inherit;
	}

	.mobile-nav {
		margin-bottom: 32px;
	}

	ul.sub-menu li:hover {
		background: none;
	}

	.ma-nav .menu li {
		text-align: left;
	}

	.active-menu {
		&:after {
			transform: rotate(180deg);
		}
	}

	.ma-nav .menu li .sub-menu li a:hover {
		background: none;
		color: #a5a5a5 !important;
	}

	.ma-nav .menu li .sub-menu li:first-child:before {
		display: none;
	}

	.ma-nav .menu li .sub-menu:after {
		display: none;
	}

	.ma-nav .menu li .sub-menu li a {
		color: #fff;
		background: 0 0;
		text-align: left;
	}

	.menu-item-has-children:after {
		content: "";
		position: absolute;
		right: 0;
		top: 12px;
		width: 12px;
		height: 12px;
		background: url(../img/white_angle.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		transition: ease-in-out 0.2s;
	}

	.ma-nav .menu li {
		float: none;
	}

	.hoofd_menu {
		z-index: 9999;
	}

	.h_skip {
		display: block;
	}

	.mobile-nav {
		display: none;
	}

	.desk-nav {
		display: none !important;
	}

	.hoofd_menu {
		max-height: inherit;
	}

	.uitgelicht_homepagina ul {
		display: contents;
		li {
			width: 50%;
		}
	}

	.ma-nav .menu li .sub-menu {
		display: none;
	}

	.hoofd_menu {
		max-height: inherit;
		.winkelmand {
			width: 60%;
			float: left;
			margin-top: -8px;
			display: block;
		}
		.container {
			.h_skip,
			.branding,
			.winkelmand {
				padding: 42px 15px;
			}
			[class*="col-"]:first-child {
				width: 25%;
				float: left;
			}
			[class*="col-"]:nth-child(2) {
				width: 50%;
				float: left;
			}
			[class*="col-"]:last-child {
				width: 25%;
				float: left;
			}
			.h_button {
				cursor: pointer;
				position: relative;
				width: 20px;
				height: 20px;
				float: left;
				span {
					margin: 5px 0px;
					width: 20px;
					min-height: 2px;
					background: $lightergrey;
					display: block;
				}
			}
		}
	}

	.top_bar {
		position: relative;
		z-index: 999999;
		.container .row .user_menu ul {
			float: left;
			position: relative;
			padding-right: 15px;
			margin-left: 15px;
		}
	}

	.skip {
		display: block;
		width: 30%;
		float: left;
		height: 26px;
		position: absolute;
		top: 0px;
		top: 8px;
	}

	.branding {
		width: 40%;
		float: left;
		text-align: center;
	}

	.top_bar {
		.container {
			.row {
				position: relative;
				.skip {
					right: 0px;
				}
				.user_menu {
					width: 70%;
					float: left;
					max-width: 70%;
				}
				.top_menu {
					display: none;
					ul {
						margin: 0px;
					}
					li {
						float: none;
						padding: 12px 0px;
					}
				}
			}
		}
	}
	.m_button {
		cursor: pointer;
		position: absolute;
		width: 20px;
		height: 26px;
		float: right;
		right: 15px;
		span {
			margin: 5px 0px;
			width: 20px;
			min-height: 2px;
			background: $grey;
			display: block;
		}
	}
	.user_menu {
		width: 70%;
		float: right;
	}
}

@media only screen and (max-width: 320px) {
	.top_bar .container {
		.row {
			.user_menu {
				width: 80%;
				float: left;
				max-width: 80%;
			}
		}
	}
	.hoofd_menu .container {
		.row {
			.branding {
				img {
					max-width: 100%;
				}
			}
		}
	}
}

@keyframes topIn {
	0% {
		top: -102px;
	}
	100% {
		top: 0px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes hideuser {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		margin-top: -50px;
	}
}

@keyframes rotateIn {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@keyframes rotateInSecond {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-135deg);
	}
}

@keyframes subIn {
	0% {
		top: 48px;
	}
	100% {
		top: 38px;
	}
}
