@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
@font-face {
  font-family: "Ionicons";
  src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
  src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }
.ma-nav .menu li .sub-menu li a, .ma-nav .menu li .sub-menu li a:hover, .ma-nav .menu li a, .ma-nav .menu li a:hover, .required:after, .required:hover:after {
  transition-duration: 0.2s; }

.woocommerce-input-wrapper {
  box-sizing: border-box;
  width: 100%; }

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button, .tribe-events-read-more {
  display: -webkit-inline-box !important;
  color: #383838;
  padding: 16px 32px;
  background: #e9db2e;
  border-radius: 0px;
  border: 0px;
  margin-left: -1px; }

.woocommerce #respond input#submit,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover, .tribe-events-read-more:hover {
  display: -webkit-inline-box !important;
  color: #383838;
  padding: 16px 32px;
  background: #e5d618;
  border-radius: 0px;
  border: 0px;
  margin-left: -1px; }

.tribe-events-button {
  margin-top: 20px;
  display: -webkit-inline-box;
  color: #383838;
  padding: 16px 32px;
  background: #e9db2e; }

.carousel .carousel-inner .carousel-item .container, .show {
  animation: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

.hide_user {
  animation: hideuser;
  animation-duration: 0.4s;
  animation-fill-mode: forwards; }

.chosen:after {
  animation: rotateIn;
  animation-duration: 0.6s;
  animation-fill-mode: forwards; }

.chosen:before {
  animation: rotateInSecond;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

.woocommerce .quantity .qty,
.woocommerce div.product form.cart div.quantity input {
  width: 100%;
  padding: 13px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 0; }

#tribe-bar-date,
#tribe-bar-search, .woocommerce input {
  width: 100%;
  padding: 13px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7; }

html {
  box-sizing: border-box; }

body {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #111111;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #4a4a4a;
    text-decoration: none; }

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 26px;
  color: #111111;
  letter-spacing: 0.2s;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic; }
  h1 span {
    color: #e9db2e; }

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.4em; }

h3 {
  font-family: "Roboto Slab", serif;
  font-size: 1.2em; }

.maten-tabel-button:before {
  content: "\f264";
  font-family: "Ionicons"; }

.maten-tabel-button {
  padding: 0px 0px 30px 0px;
  display: block;
  cursor: pointer; }

.maten-tabel-button:hover {
  color: #e9db2e; }

.maten-tabel {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  overflow: scroll;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .maten-tabel .align-center {
    position: relative;
    background: white;
    margin: 0 auto;
    padding: 30px; }
  .maten-tabel .close-tabel {
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
    padding: 20px;
    z-index: 99; }
    .maten-tabel .close-tabel div {
      width: 20px;
      min-height: 2px;
      background: black;
      margin: -2px; }
      .maten-tabel .close-tabel div:first-child {
        transform: rotate(-45deg); }
      .maten-tabel .close-tabel div:last-child {
        transform: rotate(45deg); }
  .maten-tabel .tabel-row {
    border-bottom: 1px solid #e7e7e7;
    padding: 4px; }

.toon-maten-tabel {
  visibility: visible;
  pointer-events: all;
  opacity: 1; }

.top_bar {
  background: #f0f0f0; }
  .top_bar .container .row {
    height: 44px;
    display: flex;
    align-items: center;
    font-size: 14px; }
    .top_bar .container .row ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin: 0px -14px; }
      .top_bar .container .row ul li {
        float: left;
        line-height: 1;
        padding: 0px 10px; }
        .top_bar .container .row ul li a {
          color: #333; }
          .top_bar .container .row ul li a:hover {
            color: black; }
    .top_bar .container .row .user_menu ul {
      display: flex;
      align-items: center;
      float: right;
      position: relative;
      padding-right: 15px; }
      .top_bar .container .row .user_menu ul li {
        float: left; }

.hoofd_menu {
  color: #fff;
  background: #111111;
  position: absolute;
  width: 100%;
  max-height: 102px;
  position: 9999; }
  .hoofd_menu .container .row {
    height: 102px;
    display: flex;
    align-items: center;
    font-size: 14px; }
    .hoofd_menu .container .row .branding img {
      max-width: 140px; }
    .hoofd_menu .container .row .winkelmand a {
      color: #fff; }
    .hoofd_menu .container .row .winkelmand .cart {
      position: relative;
      width: 27px;
      height: 36px;
      float: right;
      display: flex;
      align-items: center;
      text-align: center;
      background-size: cover;
      background: url("../img/cart.svg") no-repeat;
      background-position: right; }
      .hoofd_menu .container .row .winkelmand .cart .count {
        width: 28px;
        text-align: center;
        padding-top: 12px;
        font-size: 12px; }

.ma-nav .menu {
  text-align: center;
  padding: 0px;
  margin: 0px -15px;
  list-style: none;
  display: flex; }
  .ma-nav .menu li {
    padding: 12px 8px;
    float: left;
    line-height: 1;
    position: relative;
    list-style: none; }
    .ma-nav .menu li .sub-menu {
      opacity: 0;
      background: #f0f0f0;
      left: 0px;
      top: 38px;
      position: absolute;
      visibility: hidden;
      padding-top: 20px;
      margin-left: -6px;
      padding-top: 20px;
      width: 100%;
      z-index: 9999;
      padding: 0px;
      display: inline-table; }
      .ma-nav .menu li .sub-menu:after {
        content: "";
        width: 100%;
        min-height: 5px;
        background: #f0f0f0;
        bottom: -5px;
        position: absolute;
        left: 0; }
      .ma-nav .menu li .sub-menu li {
        width: 100%;
        padding: 0; }
        .ma-nav .menu li .sub-menu li:first-child:before {
          content: "";
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          background: #f0f0f0;
          position: absolute;
          top: -5px;
          left: 14px;
          z-index: -1; }
        .ma-nav .menu li .sub-menu li a {
          color: #383838;
          text-align: left;
          display: block;
          background: #f0f0f0;
          padding: 10px 15px; }
          .ma-nav .menu li .sub-menu li a .fa {
            padding-right: 8px; }
          .ma-nav .menu li .sub-menu li a:hover {
            color: #e9db2e;
            text-decoration: none;
            background: #a5a5a5; }
    .ma-nav .menu li a {
      color: #fff; }
      .ma-nav .menu li a:hover {
        color: #a5a5a5; }

.menu-categorieen-container {
  display: flex;
  justify-content: center; }

.desk-nav .menu-item-has-children:hover > ul.sub-menu {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: all;
  transition: all 0.2s ease-in-out; }
  .desk-nav .menu-item-has-children:hover > ul.sub-menu a:hover {
    color: #fff !important; }

.menu-item-has-children:after {
  width: 12px;
  height: 12px;
  background-size: contain;
  background: url(../img/angle.svg) no-repeat; }

.carousel {
  z-index: 0;
  position: relative; }
  .carousel:after {
    content: "";
    width: 100%;
    height: 58px;
    bottom: -1px;
    left: 0px;
    position: absolute;
    z-index: 9999;
    background: url(../img/grunge.svg);
    background-repeat: no-repeat;
    background-position: bottom; }
  .carousel .carousel-inner .carousel-item {
    min-height: 64vh;
    background-repeat: no-repeat !important;
    background-size: cover !important; }
    .carousel .carousel-inner .carousel-item .container .row {
      min-height: 64vh;
      display: flex;
      align-items: center; }
      .carousel .carousel-inner .carousel-item .container .row h1 {
        font-weight: bold;
        font-style: italic;
        font-size: 54px;
        color: #ffffff;
        letter-spacing: 0.6px;
        font-family: "Roboto Slab", serif; }
      .carousel .carousel-inner .carousel-item .container .row p {
        font-style: italic;
        font-size: 24px;
        color: #ffffff;
        letter-spacing: 0.6px; }
      .carousel .carousel-inner .carousel-item .container .row .button {
        margin-top: 20px;
        display: -webkit-inline-box;
        color: #383838;
        padding: 16px 32px;
        background: #e9db2e; }

.carousel-control-next,
.carousel-control-prev {
  width: 5%; }

.intro_titel h1 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  padding: 54px 0px 0px 0px; }
.intro_titel span {
  color: #e9db2e; }

.uitgelicht_homepagina ul {
  margin: 0px -15px;
  padding: 0px;
  list-style: none; }
  .uitgelicht_homepagina ul li {
    float: left;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    margin-top: -1px; }
    .uitgelicht_homepagina ul li .product_image {
      width: 100%;
      min-height: 200px;
      margin-bottom: 14px;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; }
    .uitgelicht_homepagina ul li .title {
      width: 100%;
      display: block;
      font-family: "Roboto Slab", serif;
      color: #111111;
      font-weight: bold; }
    .uitgelicht_homepagina ul li .price {
      clear: both;
      color: #4a4a4a; }
    .uitgelicht_homepagina ul li img {
      max-width: 100%; }

.aanbiedingen h1 {
  font-weight: 900;
  font-family: "Roboto Slab", serif;
  font-size: 26px;
  color: #111111;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.46px; }
.aanbiedingen ul {
  margin: 0px -15px;
  padding: 0px;
  list-style: none; }
  .aanbiedingen ul li {
    float: left;
    width: 33.3333%;
    padding: 15px;
    box-sizing: border-box; }
    .aanbiedingen ul li .product_image {
      width: 100%;
      min-height: 200px;
      margin-bottom: 14px;
      background-size: 70% auto !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; }
    .aanbiedingen ul li .title {
      width: 100%;
      display: block;
      font-family: "Roboto Slab", serif;
      color: #111111;
      font-weight: bold;
      font-size: 16px; }
    .aanbiedingen ul li .price {
      clear: both;
      color: #4a4a4a;
      font-size: 16px;
      padding: 2px 0px;
      display: -webkit-box; }
    .aanbiedingen ul li img {
      max-width: 100%; }
    .aanbiedingen ul li a {
      color: #111111; }

.the_agenda h2:nth-child(n + 2) {
  margin-top: 30px; }

.e {
  background: #dbdbdb; }

.m-row {
  display: flex;
  padding: 10px 0px; }

.m-container {
  margin-bottom: 38px; }

.glightbox-tgl:hover {
  font-weight: bold;
  cursor: pointer; }

.glightbox {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999999;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
  display: flex; }
  .glightbox .close-tgl {
    width: 30px;
    height: 30px;
    margin-left: auto;
    position: relative;
    cursor: pointer; }
    .glightbox .close-tgl div {
      width: 100%;
      min-height: 3px;
      background: white;
      position: absolute; }
      .glightbox .close-tgl div:nth-child(1) {
        transform: rotate(45deg); }
      .glightbox .close-tgl div:nth-child(2) {
        transform: rotate(-45deg); }

.is-shown {
  opacity: 1;
  pointer-events: all; }

.about {
  color: #fff;
  background: #111111;
  margin: 54px 0px;
  position: relative; }
  .about:before {
    content: "";
    width: 100%;
    height: 100%;
    top: -1px;
    left: 0px;
    right: 0px;
    position: absolute;
    z-index: 9999;
    background-size: cover;
    z-index: 1;
    background: url(../img/angle.svg) no-repeat; }
  .about:after {
    content: "";
    width: 100%;
    height: 58px;
    bottom: -1px;
    left: 0px;
    position: absolute;
    z-index: 5;
    background: url(../img/grunge.svg);
    background-repeat: no-repeat;
    background-position: bottom; }
  .about .container .row {
    padding: 60px 0vh; }
  .about .image {
    top: -32px;
    bottom: -32px;
    width: 40%;
    right: 0px;
    height: 112%;
    position: absolute;
    z-index: 444;
    margin-top: 20px;
    background-size: cover !important; }
    .about .image:before {
      content: "";
      width: 100%;
      height: 58px;
      top: -1px;
      left: 0px;
      position: absolute;
      z-index: 5;
      background: url(../img/grunge_upside.svg) no-repeat; }
  .about h1 {
    font-family: "Roboto Slab", serif;
    font-size: 28px;
    color: #e9db2e;
    letter-spacing: 0.2s;
    font-weight: bold; }
  .about p {
    padding-bottom: 24px; }
  .about .white-btn {
    font-style: italic;
    font-size: 14px;
    color: #111111;
    background: white;
    border-radius: 32px;
    padding: 12px 24px;
    position: relative;
    z-index: 555; }

.categorien ul {
  list-style: none;
  padding: 0 0 34px 0px;
  margin: 0; }
  .categorien ul li {
    position: relative; }
    .categorien ul li a {
      color: #111111;
      display: inline-block;
      width: 100%; }
      .categorien ul li a:hover {
        font-weight: bold;
        text-decoration: none; }
      .categorien ul li a:after {
        content: "";
        height: 9px;
        min-width: 6px;
        position: absolute;
        background: url(../img/angle_dark.svg);
        z-index: 999;
        right: 20px;
        top: 8px;
        background-repeat: no-repeat;
        transition-duration: 0.3s;
        background-size: cover; }
      .categorien ul li a:hover:after {
        right: 15px !important; }

.footer {
  margin-top: 30px;
  color: #e1e1e1;
  background: #131313; }
  .footer .col-md-3 {
    padding: 45px 0px; }
  .footer a {
    color: #e1e1e1; }
  .footer h5 {
    padding-top: 6px;
    font-weight: bold; }
  .footer h2 {
    font-style: normal;
    text-transform: none;
    font-weight: bold;
    font-size: 16px;
    color: #e9db2e; }
  .footer .question {
    list-style: none;
    margin: 0; }
  .footer .question li {
    padding-left: 32px;
    position: relative; }
  .footer .wht-app:before {
    content: "";
    height: 18px;
    min-width: 18px;
    position: absolute;
    background: url(../img/whatsapp.svg);
    z-index: 999;
    left: 0px;
    top: 2px;
    background-repeat: no-repeat; }
  .footer .fb-ms:before {
    content: "";
    height: 20px;
    min-width: 19px;
    position: absolute;
    background: url(../img/messenger.svg);
    z-index: 999;
    left: 0px;
    top: 2px;
    background-repeat: no-repeat; }
  .footer li {
    list-style: none; }
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 15px 0px; }
    .footer ul li {
      position: relative;
      list-style: none; }
      .footer ul li:after {
        content: "";
        height: 18px;
        min-width: 18px;
        position: absolute;
        background: url(../img/arr.svg);
        z-index: 999;
        right: 20px;
        top: 8px;
        background-repeat: no-repeat;
        transition-duration: 0.3s; }
      .footer ul li a:hover {
        font-weight: bold;
        text-decoration: none !important; }
      .footer ul li:hover:after {
        right: 15px;
        transition-duration: 0.3s; }
  .footer .branding {
    max-width: 120px;
    display: block;
    padding-bottom: 15px; }
  .footer h2 {
    font-family: "Roboto Slab", serif; }

.socket {
  background: #0a0a0a;
  color: #ffffff;
  padding: 14px 0px; }
  .socket .menu {
    display: flex;
    list-style: none;
    margin: 0px -8px;
    padding: 0px; }
    .socket .menu a {
      color: #ffffff;
      margin: 0px 8px; }
      .socket .menu a:hover {
        font-weight: bold; }

.woocommerce-account .woocommerce-MyAccount-navigation {
  width: 100% !important;
  padding-bottom: 24px; }

.woocommerce-account .woocommerce-MyAccount-content {
  float: left !important;
  width: 100% !important; }

.the_content {
  padding: 6vh 15px; }

.nice-select .list {
  right: 0;
  left: inherit; }

.nice-select.open .list {
  max-height: 200px;
  overflow: scroll; }

.sidebar {
  position: relative; }
  .sidebar .inner_sidebar {
    position: sticky;
    top: 115px; }
  .sidebar label {
    font-family: "Roboto Slab", serif;
    font-size: 1.4rem;
    width: 100%;
    float: none; }
  .sidebar .tribe-bar-date-filter {
    margin-bottom: 42px; }
  .sidebar .widget {
    border-top: 1px solid #e7e7e7; }
    .sidebar .widget .widget-content {
      display: none;
      padding-bottom: 10px; }
    .sidebar .widget h2 {
      font-family: "Roboto Slab", serif;
      font-size: 1.2rem;
      padding: 10px 0px;
      margin: 0;
      color: #464646;
      position: relative; }
      .sidebar .widget h2:hover {
        cursor: pointer; }
      .sidebar .widget h2:after {
        content: "";
        position: absolute;
        right: 0;
        top: 15px;
        height: 12px;
        width: 8px;
        opacity: 0.7;
        transform: rotate(90deg);
        background: url(../img/angle_dark.svg);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
    .sidebar .widget ul {
      list-style: none;
      margin: 0;
      padding: 0px; }
    .sidebar .widget .count {
      display: none; }
    .sidebar .widget span {
      color: #e9db2e; }
    .sidebar .widget a {
      color: #4a4a4a;
      display: block; }
    .sidebar .widget p {
      font-size: 16px; }
  .sidebar .price_label {
    float: right;
    padding: 26px 0px 0px 0px;
    margin: 0px; }

.widget-show:after {
  transform: rotate(-90deg) !important; }

.woocommerce ul.products li h2 {
  color: #111111; }
.woocommerce ul.products li .incl_price {
  font-size: 14px;
  color: #e9db2e; }
.woocommerce ul.products li .exl_btw,
.woocommerce ul.products li .exl_btw span {
  font-size: 14px;
  color: #a5a5a5 !important; }
.woocommerce ul.products li a {
  color: #383838; }
  .woocommerce ul.products li a:hover {
    color: #e9db2e; }
.woocommerce ul.products li .amount {
  color: #4a4a4a; }

.categorie_omslag {
  width: 100%;
  min-height: 40vh;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative; }
  .categorie_omslag:after {
    content: "";
    width: 100%;
    height: 58px;
    bottom: -1px;
    left: 0;
    position: absolute;
    z-index: 9999;
    background: url(../img/grunge.svg);
    background-repeat: no-repeat;
    background-position: bottom; }

.wc-layered-nav-term {
  position: relative; }
  .wc-layered-nav-term:after {
    content: "";
    width: 9px;
    min-height: 1px;
    background: #4a4a4a;
    position: absolute;
    right: 0;
    top: 11px;
    transform: rotate(0deg); }
  .wc-layered-nav-term:before {
    content: "";
    width: 1px;
    min-height: 9px;
    background: #4a4a4a;
    position: absolute;
    right: 4px;
    top: 7px;
    transform: rotate(0deg); }

.chosen {
  color: black;
  position: relative; }
  .chosen a {
    font-weight: 500;
    color: #383838 !important; }
  .chosen:after {
    content: "";
    width: 9px;
    min-height: 1px;
    background: black;
    position: absolute;
    right: 0;
    top: 11px; }
  .chosen:before {
    content: "";
    width: 1px;
    min-height: 9px;
    background: black;
    position: absolute;
    right: 4px;
    top: 7px; }

.wc-layered-nav-term chosen:before {
  transform: rotate(4deg) !important; }

.woocommerce div.product form.cart div.quantity,
.woocommerce .quantity .qty {
  width: 100%; }

.woocommerce .quantity .qty {
  width: 80%; }

.woocommerce div.product form.cart .button {
  margin-top: 15px;
  justify-content: center;
  display: flex !important; }

.sidebar h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.4rem; }
.sidebar .woocommerce-MyAccount-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .sidebar .woocommerce-MyAccount-navigation ul li a {
    display: block;
    width: 100%;
    position: relative;
    color: #4a4a4a; }
    .sidebar .woocommerce-MyAccount-navigation ul li a:after {
      content: "";
      height: 14px;
      min-width: 6px;
      position: absolute;
      background: url(../img/angle_dark.svg);
      z-index: 999;
      right: 20px;
      top: 8px;
      background-repeat: no-repeat;
      transition-duration: 0.3s; }
    .sidebar .woocommerce-MyAccount-navigation ul li a:hover:after {
      right: 15px;
      transition-duration: 0.3s; }
.sidebar .button {
  margin-top: 20px;
  display: -webkit-inline-box !important;
  color: #383838;
  padding: 16px 32px;
  background: #e9db2e; }

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: #e9db2e;
  color: #383838;
  border-radius: 0;
  font-weight: inherit;
  padding: 16px 32px; }
  .woocommerce #respond input#submit.alt:hover,
  .woocommerce a.button.alt:hover,
  .woocommerce button.button.alt:hover,
  .woocommerce input.button.alt:hover {
    background: #383838;
    color: #fff; }

.woocommerce ul#shipping_method li input {
  margin: 3px 0.4375em 0 0;
  margin-top: 6px;
  float: left;
  width: 14px; }

#add_payment_method #payment ul.payment_methods li input,
.woocommerce-cart #payment ul.payment_methods li input,
.woocommerce-checkout #payment ul.payment_methods li input {
  margin: 0 1em 0 0;
  width: 14px;
  float: left;
  margin-top: 10px; }

.wc_payment_method label {
  width: auto; }

#tribe-bar-date,
#tribe-bar-search,
.woocommerce input {
  width: 100%;
  padding: 13px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  width: 14px; }

#order_review_heading {
  margin-top: 34px; }

.storefront-full-width-content.woocommerce-cart .entry-header,
.storefront-full-width-content.woocommerce-checkout .entry-header,
.storefront-full-width-content.woocommerce-account .entry-header,
.storefront-full-width-content .woocommerce-products-header {
  padding-bottom: 0px; }

.woocommerce form {
  overflow: hidden; }

.woo-variation-swatches .variable-items-wrapper {
  padding-left: 5px; }

.single-product .price {
  font-weight: bold;
  font-size: 2rem; }
  .single-product .price a {
    color: #383838; }

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  font-weight: bold;
  font-size: 2rem;
  color: #383838; }

.posted_in a {
  color: #383838; }

small .woocommerce-Price-amount {
  color: #a5a5a5 !important; }
  small .woocommerce-Price-amount:after {
    content: " excl. BTW";
    color: #a5a5a5; }

.select2-container--default .select2-selection--single .select2-selection__clear {
  margin-top: -2px; }

.product_cat_image {
  height: 244px;
  display: inline-block;
  width: 100%;
  display: flex;
  align-items: center; }
  .product_cat_image img {
    max-height: 100%;
    max-width: 96%;
    margin: 0 auto; }

.woocommerce-page.columns-3 ul.products li.product,
.woocommerce.columns-3 ul.products li.product {
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  margin-top: -1px; }

.orderby {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e7e7; }
  .orderby .woocommerce-ordering {
    margin-left: auto; }

.summary .amount_incl {
  font-size: 32px;
  width: 100%;
  display: block;
  line-height: 2px;
  margin-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  font-weight: 500;
  color: #111111;
  padding-right: 10px; }
.summary .amount_excl {
  font-size: 12px;
  color: #a5a5a5;
  padding-bottom: 20px;
  display: block; }

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  margin-bottom: 1em; }

.woocommerce ul.products li.product:hover,
.woocommerce-page ul.products li.product:hover {
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  transition-duration: 0.3s;
  margin-top: -1px; }
  .woocommerce ul.products li.product:hover img,
  .woocommerce-page ul.products li.product:hover img {
    margin-right: 0px;
    margin-left: 0px; }

.woocommerce .products ul,
.woocommerce ul.products {
  margin-top: 1em;
  display: inline-block;
  width: 100%; }

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
  background-color: #000000; }

.woocommerce .quantity .qty,
.woocommerce div.product form.cart div.quantity {
  width: 60%;
  margin: 0px; }

.woocommerce div.product form.cart .button {
  margin: 0;
  padding: 18px 0px;
  width: 40%;
  text-align: center; }

.price_slider_wrapper {
  margin-top: 30px; }
  .price_slider_wrapper .price_slider {
    width: calc(100% - 12px);
    min-height: 4px;
    background: #d6d6d6;
    position: relative; }
    .price_slider_wrapper .price_slider .ui-slider-range {
      background: black;
      height: 4px;
      position: absolute;
      margin-left: 1px; }
    .price_slider_wrapper .price_slider .ui-slider-handle {
      cursor: pointer;
      min-height: 12px;
      width: 12px !important;
      border-radius: 12px;
      background: #e9db2e;
      position: absolute;
      left: 0;
      top: -4px; }
  .price_slider_wrapper .price_slider_amount .button {
    padding: 8px 16px !important;
    float: left;
    margin: 20px 0px; }

.woocommerce ul.products li.product {
  padding: 15px; }
  .woocommerce ul.products li.product a img {
    width: auto;
    margin: 0 auto !important;
    margin-top: 20px; }

.woocommerce span.onsale {
  /* min-height: 3.236em; */
  /* min-width: 3.236em; */
  padding: 0px 10px;
  font-size: 1em;
  font-weight: 700;
  position: absolute;
  text-align: center;
  line-height: 3.236;
  top: -0.5em;
  left: -0.5em;
  margin: 0;
  border-radius: 0px;
  background-color: #ece034;
  color: #2b2b2b;
  font-size: 9px;
  z-index: 9;
  width: 90px;
  right: 5px !important;
  height: 30px;
  top: 4px !important; }

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
  background: none;
  color: black; }

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  width: 2em;
  text-align: center;
  border: none; }

.woocommerce nav.woocommerce-pagination ul li {
  border: none; }

.woocommerce nav.woocommerce-pagination ul {
  border: none; }

.page-numbers {
  color: #a5a5a5; }

ul.page-numbers:before {
  content: "Pagina"; }

.select2-results__option[aria-selected]:hover,
.select2-results__option[data-selected]:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
  background: #e9db2e !important;
  color: black !important; }

.uitgelichte_producten_homepagina li a:hover {
  text-decoration: none; }

.uitgelichte_producten_homepagina li:hover {
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  transition-duration: 0.2s;
  margin-top: -1px; }

.woocommerce_container {
  width: 80%; }

.woocommerce table.shop_table {
  border: 0px; }

.woocommerce table.shop_table td {
  border-top: 1px dashed #a5a5a5; }

.woocommerce #content table.cart img,
.woocommerce table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img {
  height: 60%;
  width: auto; }

.product-remove {
  vertical-align: top !important; }

.woocommerce a.remove {
  color: #a5a5a5 !important; }

.woocommerce .quantity .qty,
.woocommerce div.product form.cart div.quantity input {
  border: 1px solid #a5a5a5; }

.coupon {
  width: 50%; }
  .coupon input {
    width: 312px !important;
    float: left;
    height: 48px;
    border-right: 0px;
    border-left: 1px solid #a5a5a5;
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #a5a5a5;
    padding-left: 15px; }
  .coupon input[type="submit"] {
    width: 50% !important;
    float: left;
    display: -webkit-inline-box !important;
    color: #383838;
    padding: 16px 32px;
    background: #e9db2e;
    border-radius: 0px;
    border: 0px;
    margin-left: -1px; }

.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
  padding: 30px 0px 30px 0px; }

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
  display: -webkit-inline-box !important;
  background: #f0f0f0;
  color: #383838;
  padding: 16px 32px;
  border-radius: 0px;
  border: 0px;
  margin-left: -1px; }

.order-total small .woocommerce-Price-amount:after {
  content: "" !important; }

.tribe-events-list .type-tribe_events.tribe-events-first {
  padding: 30px 0px; }

.tribe-events-list span {
  font-size: 16px; }
.tribe-events-list .tribe-events-venue-details {
  font-size: 16px; }

.type-tribe_events {
  padding: 30px 0px;
  border-top: 1px dashed #a5a5a5; }

.tribe-events-list-separator-month {
  width: 100%;
  background: #f0f0f0;
  padding: 10px 15px;
  display: block;
  box-sizing: border-box;
  font-weight: bold; }

.tribe-events-ical {
  float: right;
  background: #a5a5a5;
  color: white; }

.tribe-events-ical:hover {
  float: right;
  background: #e9db2e;
  color: #4a4a4a;
  text-decoration: none; }

.tribe-events-list-event-title {
  float: left; }

.tribe-event-schedule-details {
  float: right;
  padding: 15px 0px; }

.tribe-events-gmap {
  display: block;
  float: right; }
  .tribe-events-gmap:hover {
    text-decoration: none;
    color: #4a4a4a; }

#tribe-events-footer {
  float: left; }

.tribe-events-sub-nav {
  margin: 0;
  padding: 0 0; }
  .tribe-events-sub-nav a {
    padding: 20px 0px;
    display: block; }
    .tribe-events-sub-nav a:hover {
      color: #4a4a4a;
      text-decoration: none; }

.tribe-events-list-event-title a {
  font-family: "Roboto Slab", serif;
  font-size: 0.8em; }
  .tribe-events-list-event-title a:hover {
    color: #4a4a4a;
    text-decoration: none; }

.tribe-address {
  color: #4a4a4a; }

.ticket-cost {
  color: #a5a5a5;
  padding-top: 12px;
  display: block;
  float: left; }

.woocommerce-MyAccount-content fieldset {
  margin-top: 30px; }

.adress_container {
  margin: 0px;
  padding: 0px;
  padding-top: 20px; }

.woocommerce form .form-row {
  margin: 0 0 6px -3px; }

.aanbiedingen ul li {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  margin-top: -1px; }

.aanbiedingen ul li:hover {
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  transition-duration: 0.2s;
  margin-top: -1px; }

.col-1 {
  max-width: inherit; }

.col-2 {
  max-width: inherit; }

.edit {
  color: #a5a5a5; }

.required {
  border-bottom: 0;
  font-weight: 400 !important;
  text-decoration: none !important; }
  .required:after {
    font-weight: 400;
    content: " Verplicht veld";
    opacity: 0; }
  .required:hover:after {
    opacity: 1; }

.is_fixed {
  z-index: 99999 !important;
  top: -102;
  left: 0;
  width: 100%;
  position: fixed;
  animation: topIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

.top {
  margin-top: 102px; }

.space {
  min-height: 102px; }

.show {
  display: block !important; }

.hide_user {
  display: block !important; }

.skip {
  display: none; }

.h_skip {
  display: none; }

label {
  width: 100%; }

.faq {
  background: #f1f1f1;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: ease-in-out 0.2s; }
  .faq:hover {
    background: #e2e2e2; }
  .faq p {
    display: none;
    margin: 0;
    padding: 8px 0px 0px 0px; }
  .faq h3 {
    margin: 0px;
    position: relative;
    width: 100%; }
    .faq h3 svg {
      position: absolute;
      right: 0;
      top: 8px;
      width: 14px;
      height: auto;
      transition: ease-in-out 0.2s; }

.faq-content {
  margin-bottom: 32px;
  width: 100%; }
  .faq-content h2 {
    margin-bottom: 16px; }

.is--open h3 svg {
  transform: rotate(180deg); }

.mobile-nav {
  display: none; }

.single-product .sidebar .widget:first-child {
  border-top: none; }
.single-product .sidebar .widgettitle::after {
  display: none; }

.single-product .woocommerce-notices-wrapper {
  position: fixed;
  width: calc(100% - 40px);
  bottom: 15px;
  left: 15px;
  z-index: 99999; }
  .single-product .woocommerce-notices-wrapper .woocommerce-message {
    background: #ece034;
    border-top: 0;
    margin: 0;
    color: black;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 15px 30px; }
    .single-product .woocommerce-notices-wrapper .woocommerce-message .button {
      background: black;
      color: white;
      font-weight: 900;
      font-family: "Roboto Slab", serif;
      letter-spacing: 0.46px;
      order: 3;
      margin-left: auto; }
  .single-product .woocommerce-notices-wrapper .woocommerce-message::before {
    content: "\e015";
    color: #0000005c; }
  .single-product .woocommerce-notices-wrapper .woocommerce-message::before {
    position: relative;
    display: none; }

.pop {
  width: calc(100vw - 30px);
  margin: 15px;
  background: #e9db2e;
  position: fixed;
  bottom: 15px;
  left: 0;
  z-index: 9999;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2); }
  .pop svg {
    width: 19px;
    height: 14px;
    opacity: 0.4;
    top: 4px;
    position: relative;
    float: left; }
  .pop p {
    display: flex;
    margin: 0;
    padding-left: 4px; }
  .pop #accept-message {
    font-weight: 900;
    font-family: "Roboto Slab", serif;
    color: #111;
    letter-spacing: 0.46px;
    margin-left: 8px; }
    .pop #accept-message:hover {
      text-decoration: underline;
      cursor: pointer; }
  .pop .small-btn {
    font-weight: 900;
    font-family: "Roboto Slab", serif;
    color: #111;
    letter-spacing: 0.46px;
    margin-left: 8px; }
    .pop .small-btn:after {
      padding-left: 16px;
      content: "|"; }
    .pop .small-btn:hover {
      text-decoration: underline;
      cursor: pointer; }

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 90%; } }
@media only screen and (max-width: 1024px) {
  .single-product .woocommerce-notices-wrapper {
    position: fixed;
    width: calc(100% - 40px);
    bottom: 15px;
    left: 15px;
    z-index: 99999; }
    .single-product .woocommerce-notices-wrapper .woocommerce-message {
      display: flex;
      flex-wrap: wrap;
      padding: 30px 30px; }
      .single-product .woocommerce-notices-wrapper .woocommerce-message .button {
        margin-left: 0;
        margin-top: 15px; }

  .pop p {
    margin-bottom: 14px;
    margin-left: 8px;
    margin-right: 8px; }
  .pop svg {
    display: none; }

  .container {
    width: 95%; }

  .footer ul li:after,
  .categorien ul li a:after {
    right: 0px; }

  .footer ul li:hover:after,
  .categorien ul li a:hover:after {
    right: 4px !important; }

  .coupon {
    width: 100%; }

  .intro_titel h1 {
    font-size: 1.4em; }

  .tribe-event-schedule-details {
    float: none;
    padding: 0px;
    width: 100%;
    display: block;
    clear: both; }

  .tribe-events-gmap {
    display: block;
    float: left; }

  .tribe-events-loop {
    clear: both;
    padding-top: 34px; }

  .about .image {
    display: none; }

  .carousel .carousel-inner .carousel-item .container .row h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 2.4em;
    color: #fff;
    letter-spacing: 0.6px;
    font-family: "Roboto Slab", serif; }
  .carousel .carousel-inner .carousel-item .container .row p {
    font-style: italic;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.6px; }

  .footer .col-md-3 {
    padding: 45px 15px 0px 15px; }

  .footer .branding {
    float: none; }

  .winkelmand {
    position: absolute;
    right: 8px;
    top: 0px; }

  .ma-nav .menu {
    display: block;
    margin-bottom: 30px; }

  .ma-nav .menu li .sub-menu {
    visibility: visible;
    transition: all 0.2s ease-in-out;
    background: none;
    opacity: 1;
    position: inherit; }

  .menu-categorieen-container {
    display: inline-block;
    width: 100%; }

  .hoofd_menu .container .row .categorieen ul {
    width: 100%;
    padding: 0px;
    height: auto;
    margin: 0px;
    top: inherit;
    bottom: inherit; }

  .mobile-nav {
    margin-bottom: 32px; }

  ul.sub-menu li:hover {
    background: none; }

  .ma-nav .menu li {
    text-align: left; }

  .active-menu:after {
    transform: rotate(180deg); }

  .ma-nav .menu li .sub-menu li a:hover {
    background: none;
    color: #a5a5a5 !important; }

  .ma-nav .menu li .sub-menu li:first-child:before {
    display: none; }

  .ma-nav .menu li .sub-menu:after {
    display: none; }

  .ma-nav .menu li .sub-menu li a {
    color: #fff;
    background: 0 0;
    text-align: left; }

  .menu-item-has-children:after {
    content: "";
    position: absolute;
    right: 0;
    top: 12px;
    width: 12px;
    height: 12px;
    background: url(../img/white_angle.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: ease-in-out 0.2s; }

  .ma-nav .menu li {
    float: none; }

  .hoofd_menu {
    z-index: 9999; }

  .h_skip {
    display: block; }

  .mobile-nav {
    display: none; }

  .desk-nav {
    display: none !important; }

  .hoofd_menu {
    max-height: inherit; }

  .uitgelicht_homepagina ul {
    display: contents; }
    .uitgelicht_homepagina ul li {
      width: 50%; }

  .ma-nav .menu li .sub-menu {
    display: none; }

  .hoofd_menu {
    max-height: inherit; }
    .hoofd_menu .winkelmand {
      width: 60%;
      float: left;
      margin-top: -8px;
      display: block; }
    .hoofd_menu .container .h_skip,
    .hoofd_menu .container .branding,
    .hoofd_menu .container .winkelmand {
      padding: 42px 15px; }
    .hoofd_menu .container [class*="col-"]:first-child {
      width: 25%;
      float: left; }
    .hoofd_menu .container [class*="col-"]:nth-child(2) {
      width: 50%;
      float: left; }
    .hoofd_menu .container [class*="col-"]:last-child {
      width: 25%;
      float: left; }
    .hoofd_menu .container .h_button {
      cursor: pointer;
      position: relative;
      width: 20px;
      height: 20px;
      float: left; }
      .hoofd_menu .container .h_button span {
        margin: 5px 0px;
        width: 20px;
        min-height: 2px;
        background: #f0f0f0;
        display: block; }

  .top_bar {
    position: relative;
    z-index: 999999; }
    .top_bar .container .row .user_menu ul {
      float: left;
      position: relative;
      padding-right: 15px;
      margin-left: 15px; }

  .skip {
    display: block;
    width: 30%;
    float: left;
    height: 26px;
    position: absolute;
    top: 0px;
    top: 8px; }

  .branding {
    width: 40%;
    float: left;
    text-align: center; }

  .top_bar .container .row {
    position: relative; }
    .top_bar .container .row .skip {
      right: 0px; }
    .top_bar .container .row .user_menu {
      width: 70%;
      float: left;
      max-width: 70%; }
    .top_bar .container .row .top_menu {
      display: none; }
      .top_bar .container .row .top_menu ul {
        margin: 0px; }
      .top_bar .container .row .top_menu li {
        float: none;
        padding: 12px 0px; }

  .m_button {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 26px;
    float: right;
    right: 15px; }
    .m_button span {
      margin: 5px 0px;
      width: 20px;
      min-height: 2px;
      background: #4a4a4a;
      display: block; }

  .user_menu {
    width: 70%;
    float: right; } }
@media only screen and (max-width: 320px) {
  .top_bar .container .row .user_menu {
    width: 80%;
    float: left;
    max-width: 80%; }

  .hoofd_menu .container .row .branding img {
    max-width: 100%; } }
@keyframes topIn {
  0% {
    top: -102px; }
  100% {
    top: 0px; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes hideuser {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    margin-top: -50px; } }
@keyframes rotateIn {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }
@keyframes rotateInSecond {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-135deg); } }
@keyframes subIn {
  0% {
    top: 48px; }
  100% {
    top: 38px; } }

/*# sourceMappingURL=style.css.map */
